@font-face {
    font-family: 'Korail Condensed';
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    src: url('https://cdn.jsdelivr.net/gh/fonts-archive/KorailCondensed/KorailCondensed.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/KorailCondensed/KorailCondensed.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/KorailCondensed/KorailCondensed.ttf') format('truetype');
}
